@font-face {
  font-family: odin-norse;
  src: url(fonts/Norse-Bold.otf);
}

:root {
}

#container {
  display: flex;
  flex-direction: row;
}

.background-container {
  max-width: 300px;
}

.background-container #leaves-image {
  position: relative;
}

.odin-body {
  position: relative;
  width: 100%;
  background: black;
  opacity: 0.6;
  color: white;
  top: 8rem;
  text-align: center;
  font-size: 1.2em;
  font-family: odin-norse, sans-serif;
}
.odin-body h1 {
}

#sign-up-information {
}

#header {
}

#login-information {
}

#login-information form fieldset {
  display: flex;
  flex-direction: row;
}

#form-input-left-side,
#form-input-right-side {
  display: flex;
  flex-direction: column;
}

form fieldset {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.form-input-fields {
  display: flex;
  flex-direction: column;
}

#create_account {
}
