@font-face {
  font-family: odin-norse;
  src: url(fonts/Norse-Bold.otf);
}

:root {
  --nature-green: #596d48;
}

#container {
  display: flex;
  box-sizing: border-box;
}

#left-panel {
  width: 50%;
  background-image: url("./images/halie-west-leaves-unsplash.jpg");
}

.banner-container {
  background-color: black;
  opacity: 0.6;
  width: 100%;
  color: white;
}

#background-credit * {
  color: white;
}

#right-panel {
  width: 60%;
  display: flex;
  flex-direction: column;
}

#introduction {
  font-weight: bold;
  font-size: 1.2em;
}

#introduction,
#login_information,
#create_account {
  padding: 2.4em;
}

#login_information {
  box-shadow: inset 0 black;
}

.form-input-fields {
  display: flex;
  flex-direction: row;
  padding: 0.5em;
}

#form-input-firstname,
#form-input-lastname,
#form-input-email,
#form-input-phone-number,
#form-input-password,
#form-input-password-confirm {
  display: flex;
  flex-direction: column;
}

button {
  color: white;
  background-color: var(--nature-green);
}

span {
  color: var(--nature-green);
}
