@font-face {
  font-family: odin-norse;
  src: url(fonts/Norse-Bold.otf);
}

:root {
  --nature-green: #596d48;
  --input-light-border: #e5e7eb;
  --focus-blue: lightblue;
  --invalid-red: red;
}

* {
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

#left-panel {
  max-width: 40%;
  width: 40%;
  height: auto;
  background-image: url("./images/halie-west-leaves-unsplash.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.banner-container {
  margin-top: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: black;
  opacity: 0.6;
  width: 100%;
  height: 20%;
  color: white;
}

.banner-container h1 {
  font-family: odin-norse, "Times New Roman", Times, serif;
  font-size: 16vh;
  width: 100%;
}

img {
  width: 10vh;
  color: white;
  margin-left: 25%;
}

#background-credit {
  padding-top: 60vh;
  display: flex;
  justify-content: center;
  color: white;
  line-height: 1.5;
}

a {
  margin-left: 0.1em;
  margin-right: 0.1em;
  color: white;
}

#right-panel {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#introduction {
  font-weight: bold;
  font-size: 1.2em;
}

#introduction #intro_phrase {
  padding-top: 15vh;
}

#introduction,
#create_account {
  background-color: whitesmoke;
}

#introduction,
#login_information,
#create_account {
  height: 33vh;
  padding: 2em 4em;
}

legend {
  font-size: 3em;
  font-weight: bold;
  padding-bottom: 2em;
}

.form-input-rows {
  display: flex;
  flex-direction: row;
}

.form-input {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 4em;
}

.form-input:focus {
  box-shadow: var(--focus-blue);
}

.form-input:invalid {
  box-shadow: var(--invalid-red);
}

button {
  color: white;
  background-color: var(--nature-green);
  height: 5vh;
  width: 22vh;
  border-radius: 1em;
  border: none;
  font-size: 1em;
  font-weight: 600;
}

p {
  font-size: 1.2rem;
}

span {
  color: var(--nature-green);
  font-size: 1.6rem;
}
